
html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
}

.xs-brand-heading {
  font-size: 0.75rem;
}

.sm-brand-heading {
  display: none;
  font-size: 1.00rem;
}

.md-brand-heading {
  display: none;
}

@media only screen and (max-width: 320px) {
  .website-logo {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .xs-brand-heading {
    display: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 459px) {
  .sm-brand-heading {
    display: inline-block;
  }
}

@media only screen and (min-width: 460px) and (max-width: 575px) {
  .md-brand-heading {
    display: inline-block;
  }
}

.page-container {
  /*background-color: #d62d20;*/
  position: relative;
  padding: 56px 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
  min-height: 100%;
  /*height: calc(100% - 60px);*/
  /*min-height: calc(100% - 60px);*/
}

.content-container {
  /*background-color: #039be0;*/
  position: relative;
  padding: 0 0 20px 0;
  margin: 0 0 0 0;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  /*height: calc(100% - 60px);*/
  /*min-height: calc(100% - 60px);*/
}



/*
 *  ================================================================================
 *    Override z-indexes
 *  ================================================================================
 */
.navbar {
  z-index: 3000;
}

.dropdown-menu {
  z-index: 4000;
}

@supports (position: sticky) {
  .sticky-top {
    z-index: 4020;
  }
}

.fixed-top {
  z-index: 4030;
}

.fixed-bottom {
  z-index: 4030;
}

.modal-backdrop {
  z-index: 4040;
}

.modal {
  z-index: 4050;
}

.popover {
  z-index: 4060;
}

.tooltip {
  z-index: 4070;
}


